/*
 * Ontology Services
 * A set of web-services related to ontology information.
 *
 * The version of the OpenAPI document: 0.0.1
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package org.openapitools.client.api;

import org.openapitools.client.ApiCallback;
import org.openapitools.client.ApiClient;
import org.openapitools.client.ApiException;
import org.openapitools.client.ApiResponse;
import org.openapitools.client.Configuration;
import org.openapitools.client.Pair;
import org.openapitools.client.ProgressRequestBody;
import org.openapitools.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import org.openapitools.client.model.DataUseMatchPair;
import org.openapitools.client.model.DataUseMatchPairResult;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class MatchApi {
    private ApiClient localVarApiClient;

    public MatchApi() {
        this(Configuration.getDefaultApiClient());
    }

    public MatchApi(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return localVarApiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    /**
     * Build call for matchV2Post
     * @param body Research Purpose and Dataset DataUse pair. (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Successful matching. </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Bad Request if either purpose or consent are not provided. </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Internal Server Error </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call matchV2PostCall(DataUseMatchPair body, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = body;

        // create path and map variables
        String localVarPath = "/match/v2";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "*/*"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call matchV2PostValidateBeforeCall(DataUseMatchPair body, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'body' is set
        if (body == null) {
            throw new ApiException("Missing the required parameter 'body' when calling matchV2Post(Async)");
        }
        

        okhttp3.Call localVarCall = matchV2PostCall(body, _callback);
        return localVarCall;

    }

    /**
     * Match DataUse Purpose and Consent
     * Determine if a Research Purpose and Consent logically match.
     * @param body Research Purpose and Dataset DataUse pair. (required)
     * @return DataUseMatchPairResult
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Successful matching. </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Bad Request if either purpose or consent are not provided. </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Internal Server Error </td><td>  -  </td></tr>
     </table>
     */
    public DataUseMatchPairResult matchV2Post(DataUseMatchPair body) throws ApiException {
        ApiResponse<DataUseMatchPairResult> localVarResp = matchV2PostWithHttpInfo(body);
        return localVarResp.getData();
    }

    /**
     * Match DataUse Purpose and Consent
     * Determine if a Research Purpose and Consent logically match.
     * @param body Research Purpose and Dataset DataUse pair. (required)
     * @return ApiResponse&lt;DataUseMatchPairResult&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Successful matching. </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Bad Request if either purpose or consent are not provided. </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Internal Server Error </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<DataUseMatchPairResult> matchV2PostWithHttpInfo(DataUseMatchPair body) throws ApiException {
        okhttp3.Call localVarCall = matchV2PostValidateBeforeCall(body, null);
        Type localVarReturnType = new TypeToken<DataUseMatchPairResult>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Match DataUse Purpose and Consent (asynchronously)
     * Determine if a Research Purpose and Consent logically match.
     * @param body Research Purpose and Dataset DataUse pair. (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Successful matching. </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Bad Request if either purpose or consent are not provided. </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Internal Server Error </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call matchV2PostAsync(DataUseMatchPair body, final ApiCallback<DataUseMatchPairResult> _callback) throws ApiException {

        okhttp3.Call localVarCall = matchV2PostValidateBeforeCall(body, _callback);
        Type localVarReturnType = new TypeToken<DataUseMatchPairResult>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
}
